.customForm{
   background-color: rgba(152, 223, 220, 0.8) !important;
}
.sapMSLITitle{
	padding-left: 50%;
}
.sapMSLIWithDescription > .sapMLIBContent > .sapMSLIDiv > .sapMSLIDescription{
	padding-left: 50%;
}
.sapMLIB.sapMLIBTypeNavigation {
     background-color: #b6d6db !important;
}
.sapMFlexBoxAlignContentStretch {
    padding-left: 31%;
}
